/* @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Lato', sans-serif;
    font-size: 0.925rem;
    background-color: #f6fba2;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
}

a {
    text-decoration: none;
}

/* ======================= NAVBAR =================== */

.nav__container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar>.nav__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .navbar,
    .navbar>.nav__container {
        display: block;
    }
}

.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (min-width: 576px) {
    .navbar .nav__container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .navbar .nav__container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .navbar .nav__container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .navbar .nav__container {
        max-width: 1140px;
    }
}

.navbar .navbar__header {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar .navbar__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.navbar .navbar__header .navbar__toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
}

@media (max-width: 768px) {
    .navbar .navbar__header .navbar__toggler {
        display: block;
    }
}

.navbar .navbar__header .navbar__toggler span {
    height: 2px;
    width: 22px;
    background-color: #929aad;
    display: block;
}

.navbar .navbar__header .navbar__toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
}

.navbar .navbar__header>a {
    font-weight: 500;
    color: #3c4250;
}

.navbar .navbar__menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .navbar .navbar__menu {
        display: none;
        text-align: center;
    }
}

.navbar .navbar__menu.active {
    display: flex !important;
}

.navbar .navbar__menu .navbar__nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .navbar .navbar__menu .navbar__nav {
        width: 100%;
        display: block;
        border-top: 1px solid #eee;
        margin-top: 1rem;
    }
}

.navbar .navbar__menu .navbar__nav>li>a {
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.navbar .navbar__menu .navbar__nav>li>a:hover {
    color: #66f;
}

@media (max-width: 768px) {
    .navbar .navbar__menu .navbar__nav>li>a {
        border-bottom: 1px solid #eceef3;
    }
}

.navbar .navbar__menu .navbar__nav>li.active a {
    color: #66f;
}

@media (max-width: 768px) {
    .navbar .navbar__menu .navbar__nav {
        position: relative;
        box-shadow: none;
    }
}

.navbar .navbar__menu .navbar__nav li a {
    color: #3c4250;
    padding: 0.25rem 1rem;
    display: block;
}

.navbar .navbar__menu .navbar__nav>.separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
}

.navbar {
    position: relative;
}

.navbar .navbar__header>a span {
    color: #66f;
}

.navbar .navbar__header h4 {
    font-weight: 500;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .navbar .navbar__header h4 {
        font-size: 1.05rem;
    }
}

/* ==================== FOOTER ===================== */
footer {
    bottom: 0;
    text-align: center;
    padding: 3px;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* ==================== HOME PAGE ======================= */

.home__container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    /* background-color: #7171fd; */
    /* background-color: #0CE853; */
    /* background-color: #f6fba2;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%); */
    /* background: hsla(224, 56%, 58%, 1);
    background: linear-gradient(90deg, hsla(224, 56%, 58%, 1) 0%, hsla(0, 0%, 80%, 1) 50%, hsla(69, 84%, 76%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(224, 56%, 58%, 1) 0%, hsla(0, 0%, 80%, 1) 50%, hsla(69, 84%, 76%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(224, 56%, 58%, 1) 0%, hsla(0, 0%, 80%, 1) 50%, hsla(69, 84%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5676D0", endColorstr="#CCCCCC", GradientType=1 ); */
}

.left__container {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    /* background-color: #eceef3;    */
}

.home__img {
    display: grid;
    align-items: center;
    justify-content: center;
}

.home__desc {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.home__desc p {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.right__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__title {
    text-align: center;
    margin: 25px;
    margin-top: 40px;
}

.home__title h1 {
    color: #fff;
}

.upload__btn {
    background-color: #3c4250;
    color: white;
    padding: 0.5rem;
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.upload__btn__div {
    text-align: center;
}

.upload__btn__div span {
    align-items: center;
    text-align: center;
    /* color: #fff; */
}

#file-chosen {
    margin-left: 0.3rem;
    font-family: 'Balsamiq Sans', cursive;
}

.upload__img {
    margin-bottom: 25px;
}

.upload__preview {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.upload__img__bg {
    opacity: 0.7;
}

.result__bar {
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #fff;
    border-radius: 10px;
}



/* ================ ABOUT PAGE ====================== */

/* .about__container{
    background-color: #f6fba2;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);    
} */

.about__project {
    color: #000;
    padding: 20px;
}

.about__title {
    text-align: center;
    margin-bottom: 10px;
}

.about__desc {
    padding: 20px 50px 20px 50px;
    /* background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.about__team {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.team__card__container {
    display: flex;
    position: relative;
    padding: 20px;
}

.team__left {
    width: 50%;
}

.team__right {
    width: 50%;
}

.team__card {
    display: flex;
    width: 70%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid;
}

.team__img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-right: 10px;
    margin-left: 10px;
}

.team__specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    margin-right: auto;
}

.person__name {
    font-size: 18px;
    margin-bottom: 5px;
}

.person__position {
    font-size: 14px;
    margin-bottom: 5px;
}

.person__quote {
    font-size: 16px;
    margin-bottom: 5px;
}

.person__fav__dog img {
    width: 20px;
    height: 20px;
}

.person__social {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.person__social i {
    font-size: 18px;
}

/* ========================= BTS PAGE ======================= */

.pdid__title__space {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.pdid__title {
    padding-top: 10px;
}

.rep__button {
    /* display: inline-block; */
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 18px;
    float: right;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.rep__button--flex {
    display: inline-flex;
    align-items: center;
}

.pdid__btn {
    margin-left: 10px;
}

.pdid__desc__container {
    margin: 30px;
}

.pdid__desc {
    padding: 10px 50px 10px 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.92);
}


/* ========================= BLOG SECTION ==================== */
.dog__breeds {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.blog__dog {
    display: inline-block;
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    margin: 30px;
}

.dog__profile__img {
    height: 70%;
}

.dog__description__bk {
    background-image: linear-gradient(0deg, #3f5efb, #fc466b);
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border: 1px solid;
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}

.dog__logo {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.dog__logo img {
    height: 100%;
}

.dog__description {
    position: absolute;
    color: #000;
    font-weight: 500;
    left: 100px;
    bottom: 26%;
}

.dog__btn {
    position: absolute;
    color: #000;
    right: 20px;
    bottom: 10%;
    padding: 2px 2px;
    border: 1px solid #000;
}

.dog__btn:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 10;
}

.dog__name {
    position: absolute;
    color: #000;
    left: 30px;
    bottom: 10%;
}

#searchInput {
    margin-top: 15px;
    margin-left: 15%;
    margin-bottom: 5%;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */
input[type=text] {
    width: 70%;
}